body {
	background-color: #181a1b;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.header {
	display: flex;
	position: relative;
	background-color: #141414;
	justify-content: center;
	align-items: center;
	height: 10vh;
	width: 100vw;
	color: #fff;
	font-size: 3rem;
	font-family: 'Brush Script MT', cursive;
	user-select: none;
}
.wrapper {
	height: 85vh;
	width: 100vw;
	max-width: 100%;
	background-color: #181a1b;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}
.submit {
	display: flex;
	flex-direction: column;
	height: 5vh;
	align-items: flex-end;
	background-color: #181a1b;
}
.modal {
	z-index: 3;
	position: absolute;
	display: none;
	flex-direction: column;
	padding: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	border-radius: 1.5rem;
	color: transparent;
	height: 0;
	width: fit-content;
	align-items: center;
	justify-content: center;
	font-family: 'Brush Script MT', cursive;
	transition: background-color 0.6s, height 0.6s, color 0.35s;
	user-select: none;
}
.modalActive {
	color: #fff;
	background-color: #101010;
	height: 50vh;
}
.modalHead {
	position: absolute;
	top: 0;
	font-size: 1.2rem;
}
.modalBody {
	width: fit-content;
	margin: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-family: monospace;
	font-size: 90%;
}
.modalFoot {
	display: flex;
	width: 100%;
	text-align: left;
	font-size: 1.2rem;
	margin-left: 20px;
}
.table-grid {
	display: grid;
	width: fit-content;
	padding: 12px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	background-color: transparent;
}
.elem {
	background-color: #222;
	border: 2px solid cyan;
}
.lant {
	grid-row: 9;
}
.gap4 {
	grid-column: span 2;
	grid-row: 9/11;
}
.act {
	grid-row: 10;
}
.gap1 {
	grid-column: span 16;
}
.gap2 {
	grid-column: span 10;
	grid-row: span 2;
}
.elem-input {
	height: 6.5vh;
	width: 5.2vh;
	background-color: transparent;
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
	border: none;
	outline: none;
}
.button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 50px;
	width: 150px;
	color: #777;
	transform: translate(-50%, -50%);
	border: 2px #777 solid;
	transition: all 0.4s;
	user-select: none;
}
.button::after {
	position: absolute;
	content: '';
	top: 0;
	height: 100%;
	left: 0;
	width: 0;
	background-color: #006994;
	transition: all 0.4s;
}
.button:hover {
	color: #fff;
}
.button:hover::after {
	width: 100%;
}
.btnTxt {
	margin: 0;
	padding: 0;
	z-index: 10;
	font-family: 'Brush Script MT', cursive;
	font-size: 1.1rem;
}
.logo {
	height: 70%;
	position: absolute;
	left: 1vw;
}
.close {
	color: transparent;
	font-size: 1.5rem;
	position: absolute;
	top: 25px;
	right: 20px;
	transition: all 0.1s;
}
.modalActive .close {
	color: #fff;
}
.copy {
	z-index: 5;
	position: absolute;
	color: transparent;
	top: 70%;
	right: 5%;
	font-size: 1.5rem;
	border-radius: 5px;
	transition: all 0.1s;
}
.modalActive .copy {
	color: #fff;
}
.popupInactive {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 100%);
	background-color: #006994;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}
.popupActive {
	transform: translate(-50%, -50%);
}
ion-icon {
	border-radius: 4px;
	padding: 2px;
	transition: all 0.3s;
}
ion-icon:hover {
	background-color: #333;
}
.logo {
	transition: transform 0.35s;
	border-radius: 50%;
}
.logo:hover {
	transform: rotate(120deg);
}
